$gutter: 1rem;
$radius: 0.375rem;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$border-size: 2px;
$units: (
  none: 0,
  xxs: 0.3,
  xs: 0.5,
  md: 1,
  lg: 2,
  xl: 3,
  xxl: 6,
  xxxl: 8,
  huge: 16,
);
$transition-duration: 250ms;
$transition-easing: ease-in;

:root {
  --color-primary: #ea2c62;
  --color-secondary: #ff9a8c;
  --color-tertiary: #fad5ad;
  --color-quartiary: #adb36e;
  --color-text: #2c3e50;
  --color-link: rgb(0, 0, 0);
  --app-background: rgb(255, 255, 255);
}